<ul>
<% for folder in @folders do %>
  <li>
  <%= raw link_to(h("#{folder.name} (#{folder.description})"), :controller => 'folders', :action => 'show', :id => folder.id) %>
  <%= raw '|' + link_to('edit folder', edit_folder_path(folder)) %>
  <%= raw '|' + link_to('del folder', folder, :confirm => 'Are you sure?', :method => :delete) %>
  <%= raw '|' + link_to('add subfolder', :controller => 'folders', :action => 'child', :id => folder.id) %>
  </li>
<% end %>
</ul>
