<ul>
<% for task in @tasks do %>
  <li<%= (task.is_done ? " class='strike'" : "") %>>
  <%= check_box_tag('task_done', task.is_done, task.is_done, {:disabled => true}) %>
  <%= raw link_to(task.name, :controller => 'tasks', :action => 'show', :id => task.id) %>
  </li>
<% end %>
</ul>
 
