.jquery-tree ul {
        padding : 0;
        margin : 0;
}

.jquery-tree li {
        list-style : none;
        padding-left: 8px;
        margin-left : 8px;
        border-left : 1px dotted #838383;
        background : url("img/line.gif") no-repeat 0px 9px;
}

.jquery-tree .last {
        border : none;
        padding-left : 9px;
        background : url("img/line_last.gif") 0px top no-repeat;
}

.jquery-tree .first {
        margin-left:-9px;
        width : 2px;
        height : 8px;
        float : left;
}

.jquery-tree .show  {
        margin-left : -30px;
        width : 16px;
        height : 16px;
        background : url("img/plus.png") left 2px no-repeat;
        float : left;
        display : block;
        border : 0;
        padding : 0;
}

.jquery-tree .show.minus {
        background-image : url("img/minus.png");
}

.classic .show {
        background-image : url("img/classic/plus.gif");
}

.classic .show.minus {
        background-image : url("img/classic/minus.gif");
}
